    <div class="span-12">
		<div class="span-7"><%= print_product.print_description %></div>
		<div class="span-1">$<%= print_product.price %></div>
		<div class="span-2"><%= render :partial => 'shared/paypal_form',:locals => {:photoname => @photo.photo_name, :print_product => print_product} %></div>
	</div>
	    <div id="seperator" class="span-12"><p>&nbsp;</p></div>